/* fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
/* 
==========
variables
==========
 */
:root {
  --primary-cl: #219ebc;
  --primary-cl-2: #52c4e0;
  --primary-cl-3: #74d0e7;
  --primary-light: #96dced;
  --secondary-cl: #023047;
  --grey-1: #474747;
  --grey-2: #5c5c5c;
  --grey-3: #707070;
  --grey-4: #999999;
  --grey-5: #e5e5e5;
  --white: #fff;
  --ff-primary: "lato", sans-serif;
  --radius: 0.5rem;
  --letter-spacing: 0.25rem;
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* 
==========
Global styles
==========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: var(--ff-primary);
  background: var(--white);
  color: var(--grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--grey-3);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* global styles */

.btn {
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  background-color: var(--primary-cl-2);
  color: var(--white);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  letter-spacing: var(--letter-spacing);
  display: inline-block;
  cursor: pointer;
  border: 2px solid transparent;
  font-size: 0.875rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: var(--primary-light);
  color: var(--primary-cl);
}
section {
  padding: 5rem 0;
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--primary-cl);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* 
==========
Navbar
==========
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--dark-shadow);
  z-index: 2;
}
.nav-icons {
  display: none;
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem 2rem;
}

.nav-toggle {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--primary-cl-2);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav-toggle:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: #5c5c5c;
  cursor: pointer;
  font-size: 1rem;
}

.nav-link:hover {
  color: var(--primary-cl);
  background: var(--primary-light);
  padding-left: 2.25rem;
}

.nav-links {
  height: 0;
  overflow: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.show-links {
  height: 280px;
}

@media screen and (min-width: 992px) {
  /* hide toggle button */
  .navbar {
    padding: 0.75rem 2rem;
  }

  .nav-toggle {
    display: none;
  }
  .nav-center {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav-links {
    height: auto;
    display: -webkit-box;
    display: flex;
  }
  .nav-header {
    padding: 0 0;
  }
  .nav-link {
    padding: 0 0;
    margin-right: 0.7rem;
  }
  .nav-link:hover {
    padding: 0;
    color: var(--primary-cl);
    background: transparent;
  }
  .nav-icons {
    display: -webkit-box;
    display: flex;
  }

  .nav-icon {
    margin-right: 0.7rem;
    color: var(--primary-cl);
    font-size: 1.2rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-icon:hover {
    color: var(--primary-cl-3);
  }
}

/* 
==========
Hero
==========
*/

.hero {
  min-height: 100vh;
  background: var(--primary-cl-3);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  /* optional- to make only available on bigger screens */
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(44, 174, 186, 0.1)),
      to(rgba(44, 174, 186, 0.1))
    ),
    url("../images/main.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(44, 174, 186, 0.1), rgba(44, 174, 186, 0.1)),
    url("../images/main.jpg") center/cover no-repeat;
}

.hero-banner {
  text-align: center;
  color: var(--white);
  padding: 0 3rem;
}

.hero-banner h1 {
  text-transform: uppercase;
}

.hero-banner p {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  letter-spacing: var(--letter-spacing);
}

.hero-btn {
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  background: var(--primary-cl);
  color: var(--white);
}

.hero-btn:hover {
  background: transparent;
  color: var(--white);
  border-color: var(--white);
}

@media screen and (min-width: 768px) {
  /* optional - if image is not wanted on the bannr of smaler screens */
  /* .hero {
                background: linear-gradient(
                    rgba(44, 174, 186, 0.1),
                    rgba(44, 174, 186, 0.1)
                  ),
                  url("../images/main.jpg") center/cover no-repeat;
              } */
  .hero-banner {
    padding: 0;
  }
  .hero-banner p {
    max-width: 45rem;
  }
}

/* 
==========
About
==========
*/
.about-img,
.about-info {
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .about-center {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-img,
  .about-info {
    -webkit-box-flex: 0;
    flex: 0 0 calc(50% - 2rem);
    margin-bottom: 0;
    align-self: center;
  }
}

@media screen and (min-width: 1170px) {
  .about-img::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    border: 0.5rem solid var(--primary-cl);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
  }
  .about-img {
    position: relative;
  }
}
/* 
==========
Services
==========
*/
.services {
  background: #eef9fc;
}
.service {
  text-align: center;
  margin-bottom: 3rem;
}
.service h4 {
  font-size: 0.875rem;
  letter-spacing: var(--letter-spacing);
  /* margin-top: 1rem; */
}
.service p {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.service-icon {
  color: var(--grey-2);
  background: var(--primary-light);
  font-size: 2.5rem;
  padding: 0.5rem;
  display: inline-block;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 576px) {
  .services-center {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .service {
    -webkit-box-flex: 0;
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .service {
    -webkit-box-flex: 0;
    flex: 0 0 calc(33.33% - 1rem);
  }
}

@media screen and (min-width: 1170px) {
  .service {
    display: -webkit-box;
    display: flex;
    text-align: left;
  }
  .service-info {
    padding-left: 1rem;
  }

  .service p::after {
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam?";
  }

  .service-icon {
    align-self: start;
    font-size: 2rem;
  }

  .service h4 {
    margin-bottom: 0.5rem;
  }
}

/* 
==========
Tours
==========
*/

.tour {
  background: #eef9fc;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  box-shadow: var(--light-shadow);
  margin-bottom: 2rem;
}

.tour:hover {
  box-shadow: var(--dark-shadow);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.tour-photo-container {
  position: relative;
}

.tour-photo {
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.tour-date {
  background: var(--primary-cl-3);
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  color: var(--grey-1);
  position: absolute;
  bottom: 0;
  right: 0;
}

.tour-description {
  padding: 1.25rem 1.5rem;
}

.tour-title {
  line-height: 1.25;
}

.tour-text {
  color: var(--grey-2);
  margin-bottom: 0.75rem;
}
.tour-description span {
  display: block;
  color: var(--primary-cl);
  text-transform: capitalize;
}

.tour-footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}

.tour-btn {
  text-align: center;
}
.tour-btn .btn {
  background: var(--primary-cl);
}

@media screen and (min-width: 768px) {
  .tours-center {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .tour {
    -webkit-box-flex: 0;
    flex: 0 0 calc(50% - 2rem);
  }
}
@media screen and (min-width: 1170px) {
  .tour {
    -webkit-box-flex: 0;
    flex: 0 0 calc(33.333% - 2rem);
  }
}

/* 
==========
Contact
==========
*/

.contact {
  background: var(--primary-cl);
}

.contact-title {
  color: var(--white);
}
.contact-title p {
  color: var(--primary-light);
}

.contact-form {
  display: -webkit-box;
  display: flex;
  max-width: 28rem;
}

.form-control {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  color: var(--grey-1);
}
.form-control,
.contact-btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: var(--letter-spacing);
  background: var(--white);
  text-transform: capitalize;
  border: transparent;
}

.form-control::-webkit-input-placeholder {
  color: inherit;
}

.form-control::-moz-placeholder {
  color: inherit;
}

.form-control:-ms-input-placeholder {
  color: inherit;
}

.form-control::-ms-input-placeholder {
  color: inherit;
}

.form-control::placeholder {
  color: inherit;
}
.contact-btn {
  font-family: var(--ff-primary);
  margin-left: 0.5rem;
  background: var(--primary-cl-3);
  color: var(--primary-cl);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.contact-btn:hover {
  background: var(--grey-2);
}

@media screen and (min-width: 992px) {
  .contact-center {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .contact-form {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    align-self: flex-start;
    max-width: 100%;
    padding-left: 2rem;
  }
}

/* 
==========
Gallery
==========
*/

#gallery {
  padding: 0;
}

.image-container {
  background: var(--primary-cl-3);
  position: relative;
}

.image {
  height: 17rem;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.gallery-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: var(--white);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 100;
  -webkit-transform: var(--transition);
  transform: var(--transition);
  cursor: pointer;
  opacity: 0;
}

.image-container:hover .image {
  opacity: 0.5;
}
.image-container:hover .gallery-icon {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .gallery-center {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }
  .image-container {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 992px) {
  .image-container {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
  }
}

/* 
==========
Footer
==========
*/

.section {
  padding: 5rem 0;
}

.footer {
  background: #0b2732;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-links,
.footer-icons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.footer-link {
  color: var(--white);
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: var(--letter-spacing);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-right: 1rem;
}

.footer-link:hover {
  color: var(--primary-cl);
}
.footer-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--primary-cl);
  -webkit-transform: var(--transition);
  transform: var(--transition);
}

.footer-icon:hover {
  color: var(--primary-light);
}

.copyright {
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  color: var(--white);
}
